In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read file with not_hot_songs

not_hot_songs = pd.read_excel('top_2000_2023.xlsx')

In [3]:
# Rename columns to have consistency with hot_songs df

not_hot_songs.columns = ['position', 'title', 'artist', 'year']

In [4]:
# Display not_hot_songs dataframe

not_hot_songs.head(5)

   position              title      artist  year
0         1  Bohemian Rhapsody       Queen  1975
1         2     Roller Coaster  Danny Vera  2019
2         3   Hotel California      Eagles  1977
3         4          Piano Man  Billy Joel  1973
4         5            Fix You    Coldplay  2005

In [5]:
# Rearrange columns

not_hot_songs = not_hot_songs[['title', 'artist']]
not_hot_songs = not_hot_songs[['artist', 'title']]
not_hot_songs.head(5)

       artist              title
0       Queen  Bohemian Rhapsody
1  Danny Vera     Roller Coaster
2      Eagles   Hotel California
3  Billy Joel          Piano Man
4    Coldplay            Fix You

In [6]:
# Read billboard_top100.csv file with hot_songs

hot_songs = pd.read_csv('../../Morning/lab-web-scraping-single-page/billboard_top100.csv')

In [7]:
# Drop index column

hot_songs.drop(columns='Unnamed: 0', inplace=True)

In [8]:
# Let's review our hot_songs dataframe

hot_songs

                                title                                 artists
0   Rockin' Around The Christmas Tree                              Brenda Lee
1     All I Want For Christmas Is You                            Mariah Carey
2                    Jingle Bell Rock                             Bobby Helms
3                      Last Christmas                                   Wham!
4             A Holly Jolly Christmas                               Burl Ives
..                                ...                                     ...
95                 El Amor de Su Vida            Grupo Frontera & Grupo Firme
96               Standing Next To You                               Jung Kook
97                     Man Made A Bar     Morgan Wallen Featuring Eric Church
98                           Que Onda  Calle 24 x Chino Pacas x Fuerza Regida
99                       Great Gatsby                                Rod Wave

[100 rows x 2 columns]

In [9]:
# Merge dataframes and find rows present in both of them

merged = not_hot_songs.merge(hot_songs, indicator=True, how='left')
rows_in_both = merged[merged['_merge'] == 'both']

# Remove rows present in both dataframes

not_hot_songs = not_hot_songs[~not_hot_songs.isin(rows_in_both.to_dict('list')).all(1)]

In [10]:
# Let's check the rows that are repeated in both dataframes

display(rows_in_both)

,artist,title,artists,_merge
177,Tracy Chapman,Fast Car,Luke Combs,both
256,Wham!,Last Christmas,Wham!,both
757,Mariah Carey,All I Want For Christmas Is You,Mariah Carey,both
1597,Teddy Swims,Lose Control,Teddy Swims,both
1845,Taylor Swift,Cruel Summer,Taylor Swift,both
1903,Ed Sheeran & Elton John,Merry Christmas,Ed Sheeran & Elton John,both

In [11]:
# Display the dataframe of songs without the ones that are repeated in both

display(not_hot_songs)

             artist                     title
0             Queen         Bohemian Rhapsody
1        Danny Vera            Roller Coaster
2            Eagles          Hotel California
3        Billy Joel                 Piano Man
4          Coldplay                   Fix You
...             ...                       ...
1995  Stevie Wonder  Master Blaster (Jammin')
1996     Neil Young                   Harvest
1997      Radiohead              High And Dry
1998   Caro Emerald         A Night Like This
1999     Don Henley           New York Minute

[1994 rows x 2 columns]

In [12]:
# Save new file to csv

not_hot_songs.to_csv('not_hot_songs.csv')